#playground{
    width: 60%;
    background: black;
    height: 1000px;
    display: block;
    margin: 0 auto;
    padding-top: 10%;
}
#personaje{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
    border-radius: 6px;
}